/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* typo */
/* color palette */
body {
  font-family: Arial, sans-serif !important;
  overflow-x: hidden; }

.btn {
  width: 190px;
  height: 50px;
  font-size: 16px;
  padding: 12px 0;
  text-decoration: none;
  border-radius: 3px; }

.btn-lg {
  width: 200px; }

.btn-primary {
  background-color: #008DC8; }
  .btn-primary:hover {
    background-color: #005aa8; }

.btn-secondary {
  background-color: #EB9711;
  width: 289px; }
  .btn-secondary:hover {
    background-color: #EB9711; }

a {
  color: #008DC8;
  text-decoration: underline; }
  a:hover {
    color: #005aa8; }

main section img {
  max-width: 100%; }
main section .title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase; }
main section p {
  line-height: 30px; }
main section .sec-desc {
  margin-bottom: 80px; }
main .header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 44px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 222;
  background-color: #fff;
  width: 100%;
  -webkit-transition: 0.25s ease-in;
  -moz-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  transition: 0.25s ease-in; }
  main .header__logo {
    width: 216px;
    height: 56px; }
    main .header__logo a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url("../images/logo.svg") no-repeat;
      background-size: 100%;
      background-position: center; }
  main .header__nav {
    align-self: center;
    margin-left: auto; }
    main .header__nav--link {
      color: #3C413C;
      text-transform: uppercase;
      text-decoration: none; }
      main .header__nav--link:not(:last-child) {
        margin-right: 1rem; }
  @media (max-width: 1340px) {
    main .header__nav {
      font-size: 14px; }
    main .header__logo {
      width: 120px; } }
  main .header__hamburger {
    display: none; }
  @media (max-width: 1150px) {
    main .header__nav {
      display: none; }
    main .header__hamburger {
      display: inline-block;
      width: 25px;
      margin-left: auto;
      margin-top: 15px;
      height: 20px;
      cursor: pointer; }
      main .header__hamburger .line {
        -webkit-transition: 0.25s ease-in;
        -moz-transition: 0.25s ease-in;
        -o-transition: 0.25s ease-in;
        transition: 0.25s ease-in;
        display: block;
        width: 100%;
        height: 2px;
        margin: 4px 0;
        background-color: #afafaf; }
    main .header.nav-expand .header__nav {
      display: block; }
      main .header.nav-expand .header__nav--link {
        opacity: 1;
        -webkit-transition: 0.25s ease-in;
        -moz-transition: 0.25s ease-in;
        -o-transition: 0.25s ease-in;
        transition: 0.25s ease-in;
        transition-delay: 800ms;
        width: 40%;
        display: inline-block;
        margin-bottom: 1rem; }
    main .header.nav-expand .header__hamburger .line:nth-child(2) {
      display: none; }
    main .header.nav-expand .header__hamburger .line:nth-child(1) {
      transform: rotateZ(45deg); }
    main .header.nav-expand .header__hamburger .line:nth-child(3) {
      transform: rotateZ(-45deg);
      position: relative;
      top: -6px; } }
main .banner {
  width: 100%;
  height: 687px;
  position: relative;
  margin-top: 144px; }
  main .banner__image {
    overflow: hidden; }
    main .banner__image img {
      max-height: 100%;
      max-width: none; }
  main .banner__intro {
    position: absolute;
    top: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    max-width: 80%; }
    @media (max-width: 576px) {
      main .banner__intro {
        max-width: 100%;
        margin: 0 1rem; } }
    main .banner__intro h1 {
      font-size: 2.5rem; }
      @media (max-width: 768px) {
        main .banner__intro h1 {
          font-size: 1.75rem; } }
      main .banner__intro h1 span {
        color: #008DC8; }
    main .banner__intro p {
      font-size: 1.5rem; }
main .bereiches__feature {
  padding: 100px 0;
  overflow: hidden;
  color: #3C413C; }
  @media (max-width: 768px) {
    main .bereiches__feature {
      padding: 100px 2rem; } }
  main .bereiches__feature h2 {
    text-transform: uppercase; }
  main .bereiches__feature:nth-child(odd) {
    background-color: #EDEDED; }
  @media (min-width: 576px) {
    main .bereiches__feature:nth-child(even) .col-sm-4:first-child {
      order: 3; }
    main .bereiches__feature:nth-child(even) .col-sm-1 {
      order: 2; } }
  main .bereiches__feature .btn {
    margin-top: 1rem; }
main .programm {
  padding: 110px 0; }
  @media (max-width: 768px) {
    main .programm {
      padding: 110px 2rem; } }
  main .programm__content--prog {
    font-size: 1.125rem;
    padding: 1rem 0; }
    main .programm__content--prog:not(:last-child) {
      border-bottom: 1px solid #d2d2d2; }
    main .programm__content--prog p {
      margin-top: 1rem; }
    main .programm__content--prog .date {
      position: relative;
      padding-bottom: 1rem; }
      main .programm__content--prog .date::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 2px;
        background-color: #008DC8;
        width: 13px;
        height: 13px;
        border-radius: 50%; }
main .speakers {
  padding: 70px 0;
  background-color: #EDEDED; }
  main .speakers h2 {
    text-align: center; }
  main .speakers p {
    text-align: center;
    margin-bottom: 80px; }
  @media (max-width: 768px) {
    main .speakers {
      padding-right: 2rem;
      padding-left: 2rem; } }
  @media (max-width: 576px) {
    main .speakers__img {
      display: inline-block;
      width: 45%;
      vertical-align: super; }
    main .speakers__text {
      display: inline-block;
      width: 45%;
      margin-left: 1rem; } }
  main .speakers__img img {
    width: 100%; }
  main .speakers__text {
    margin-top: 28px;
    margin-bottom: 113px; }
    main .speakers__text h4 {
      font-size: 1.125rem;
      margin-top: 1rem; }
main .hotels {
  text-align: center;
  padding: 70px 0;
  background-color: #fff; }
  @media (max-width: 768px) {
    main .hotels {
      padding-right: 2rem;
      padding-left: 2rem; } }
  main .hotels .btn {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 130px; }
  main .hotels__img img {
    width: 100%; }
  main .hotels__text {
    margin-top: 28px;
    margin-bottom: 113px; }
    main .hotels__text h4 {
      font-size: 1.125rem;
      margin-top: 1rem; }
    main .hotels__text p {
      text-align: left !important;
      margin-bottom: 0; }
main .iso {
  padding: 88px 0;
  color: #fff;
  text-align: center;
  background: url("../images/iso.jpg"), linear-gradient(to right, #008dc8, #005aa8) no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 768px) {
    main .iso {
      padding-right: 2rem;
      padding-left: 2rem; } }
  main .iso__content {
    text-align: left;
    position: relative;
    margin-bottom: 2rem;
    line-height: 30px; }
    main .iso__content::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 2px;
      background-color: #EB9711;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      top: 9px; }
  main .iso .btn {
    margin-top: 2rem; }
main .sponsors {
  text-align: center;
  padding: 80px 0; }
  @media (max-width: 768px) {
    main .sponsors {
      padding-right: 2rem;
      padding-left: 2rem; } }
  main .sponsors__logo {
    border: 1px solid #D0D0D0;
    padding: 30px 0;
    margin-bottom: 2rem; }
main .location {
  text-align: center;
  padding: 80px 0;
  background-color: #EDEDED; }
  main .location .map-link {
    display: none; }
  @media (max-width: 576px) {
    main .location {
      padding-right: 2rem;
      padding-left: 2rem; }
      main .location .map-link {
        display: block;
        margin-bottom: 2rem; }
      main .location__map iframe {
        display: none; } }
  main .location__map {
    height: 100%; }
    main .location__map iframe {
      height: 100%; }
    @media (min-width: 576px) {
      main .location__map {
        margin-top: 2rem; } }
main .contact {
  text-align: center;
  padding: 80px 0;
  background: url("../images/contact.jpg"), linear-gradient(to right, #008dc8, #005aa8) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; }
  @media (max-width: 768px) {
    main .contact {
      padding-right: 2rem;
      padding-left: 2rem; } }
  main .contact fieldset {
    border: none;
    margin: 0;
    padding: 0 15px; }
  main .contact input, main .contact textarea {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 19px;
    margin-bottom: 2rem;
    color: #3C413C; }
    main .contact input::placeholder, main .contact textarea::placeholder {
      color: #000; }
  main .contact #message {
    height: 120px;
    resize: none; }
  main .contact span {
    display: block;
    text-align: left;
    padding-bottom: 1rem; }
  main .contact button {
    width: 100%; }
main footer {
  background-color: #434343;
  text-align: center;
  padding: 20px 0; }
  main footer a {
    font-size: 12px;
    color: #fff;
    padding: 0 10px; }
    main footer a:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.5); }

@media (max-width: 768px) {
  html {
    font-size: 15px; } }
@media (max-width: 576px) {
  html {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
